<%- include('partials/teacher-main-header') %>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>course reports</h1>
    </div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">report</th>
          <th scope="col">student</th>
        </tr>   
      </thead>
      <tbody>
        <% reports.forEach(report => { %>
            <tr>
                <td><%= report.id %></td>
                <td><%= report.student_name %></td>
                <td><a href="../<%=report.path%>">report file</a></td>
            </tr>
            <% }) %>
      </tbody>
    </table>
  </div>
<%- include('partials/main-footer') %>