<%- include('partials/student-main-header') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>lectures of The course</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">lecture</th>
              <th scope="col">description</th>
              <th scope="col">file</th>
            </tr>
          </thead>
          <tbody>
            <% lectures.forEach(lecture => { %>
                <tr>
                    <td><%= lecture.id %></td>
                    <td><%= lecture.lecture_title %></td>
                    <td><%= lecture.grade%></td>
                    <td><%=lecture.teacher%></td>
                </tr>
                <% }) %>
          </tbody>
        </table>
      </div>

</main>
<%- include('partials/main-footer') %>